<%- include ('../../partials/header.ejs');%>
    <%- include ('../../partials/navbar.ejs');%>

        <div class="container">
            <hr>
            <h2>Categorias</h2>
            <a class="btn btn-success" href="/admin/categories/new">Criar nova Categoria</a>
            <hr>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Titulo</th>
                        <th>Slug</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <% categories.forEach(category=> { %>
                        <tr>
                            <td>
                                <%= category.id %>
                            </td>
                            <td>
                                <%= category.title %>
                            </td>
                            <td>
                                <%= category.slug %>
                            </td>
                            <td>
                                <a href="/admin/categories/edit/<%= category.id %>"
                                    class="btn btn-warning mt-2">Editar</a>
                                <form action="/categories/delete" method="post" style="display:inline"
                                    onsubmit="confirmDelete(event,this)">
                                    <input type="hidden" name="id" value=" <%= category.id %>">
                                    <button class="btn btn-danger mt-2">Deletar</button>
                                </form>
                            </td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
        </div>
        <script>
            function confirmDelete(e, form) {
                event.preventDefault()
                let confirm = window.confirm("Tem certeza que deseja deletar?")
                if (confirm) form.submit();
            }
        </script>

        <%- include ('../../partials/footer.ejs');%>